
/* `Body
----------------------------------------------------------------------------------------------------*/

body {
	font-family: sans-serif;
	color:black;
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0 auto;
  }
  


/* `Basic HTML
----------------------------------------------------------------------------------------------------*/


pre,
code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
  clear: both;
  margin-top: 50px;
}

img {
	border:0;
}

.clear:after {
   content: " "; /* Older browser do not support empty content */
   display: block;
   height: 0;
   clear: both;
}

.row{
	margin-left:0px !important;
	margin-right: 0px !important;
}


.menu-small, .mobile-menu{
	display: none;
}


/* `Basic Structure
----------------------------------------------------------------------------------------------------*/


.container{
	padding: 40px 10%;
}

.third{
	width: 33.333%;
	/*margin: 0 1.63%;*/
	float: left;
	position: relative;
}

.two-thirds{
	width: 66.666%;
	/*margin: 0 1.63%;*/
	float: left;
	position: relative;
}

.quarter{
	width: 25%;
	float: left;

}

.three-quarters{
	width: 75%;
	float: left;	
	padding: 40px 0;
}

.half{
	width: 50%;
	float: left;
}

.full{
	width: 100%;
}

.sixty{
	width: 60%;
}

.forty{
	width: 40%;
}


img.close{
	position:absolute;
	top:30px;
	right:30px;
	width: 30px;
}


/* `Classez
----------------------------------------------------------------------------------------------------*/


.row{
	max-width: none;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


	
/* Button Reset
----------------------------------------------------------------------------------------------------*/


button{
	border-style: none;
	border-width: 0px;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	position: relative;
	text-decoration: none;
	text-align: left;
	display: inline-block;
	background-color:transparent;
	border-color: transparent;
	color: black;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
	transition: color 300ms ease-out;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	font-size: inherit;
}

button:hover, button:focus{
	background-color: transparent;
	text-decoration: underline;
	color: black;
	cursor: pointer;	
}


/* Typography - Reset
----------------------------------------------------------------------------------------------------*/

ul, li{
	font-size: 15px;
	margin: 0;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

li {
  margin-left: 30px;
}

ul li ul{
	margin-left: 0px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 0px;
}



