$gold: #a8ff00;
$gold: #b7d432;
$gold: #ffffff;

$grey: #2f3135;

$copyright: #7e8389;


/* `Body
----------------------------------------------------------------------------------------------------*/

body{
	background: $grey;
	color: white;
	font-family: 'Proxima Nova', sans-serif;
}

body.search.search-results, body.search.search-no-results{
	width: 100%;
}

body.search.search-no-results{
	p{
		text-align: center;
	}
}

.search .home-logo{
	width: 250px;
}

.mobile{
	display: none !important;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

.home-content{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	.cd-section{
		padding-top: 5%;
	}
}

header{
	background: transparent;
	margin: 0 auto;
	z-index: 999;
	transition: all 500ms ease-in;  
	-webkit-transition: all 500ms ease-in;  /* Safari */
	width: 100%;
	padding: 15px 4%;
	position: relative;
}


nav{
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	padding:0px;
	margin: 0 auto;
	ul{
		text-align: center;
		li{
			display: inline-block;
			text-align: center;
		}
	}
}

  
.top-scroll{
	top:0px !important;
}

nav{
	display: inline-block;
	width: 100%;
	ul, li{
		display:  inline-block;
		font-size: 16px;
		margin-top: 15px;
	}
}

.desktop{
	ul{
		width: 100%;
	}
	.left-menu{
		float: left;
	}
	
	li.left-menu{
		margin-left: 0px;
		margin-right: 30px;
	}
	
	.right-menu{
		float: right;
	}
	.center-menu{
		margin-left: 0px;
	}
}

.header{
	padding: 10px 10%;
	margin-top:-120px;
	height: 73px;

	.left-item{
		float: left;
		padding-top: 18px;
		margin-left: 0px;
		margin-right: 30px;
	}
	.right-item{
		float: right;
		padding-top: 18px;
		margin-left: 30px;
	}
	.no-padd{
		padding: 0;
		margin: 0;
	}
	li{
		display: inline-block;
		a{
		color: black;
		font-size: 14px;
		}
	}
	img{
		width: 50px;
	}
	
}

.scroll{
	position: fixed;
	background-color: black;
	height:90px;
	img.home-logo{
		width: 200px;
		margin-top: 30px;
		float: left;
	}
	a{
		color: white !important;
	}
	nav{
		width: 100%;
	}
}

.mob-nav{
	display: none;
	ul, li{
		display: block;
	}
}
.small-logo{
	width: 50px;
}

.shadow{
	box-shadow: 0px 0px 10px 3px #777; 
}

.home-logo{
	width: 300px;
	margin-top: 10px;
}


img.menu{
	width:30px;
	top: 42px;
	right: 5%;
	position: absolute;
	cursor: pointer;
}


#intro{
	background: url('../images/home-bkg.jpg') no-repeat center center; 
	position: relative;
	overflow: hidden;
	height:80vh;
	

	.overlay{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color: rgba(0,0,0,0.4);
	}
}

.sub-title{
	width:60%;
	text-align: center;
	margin: 40px 20%;
}

.third{
	padding: 1.5% 5%;
	img{
		width:78px;
		padding-bottom: 10px;
	}
}

.searchy-baby{
	width: 100%;
	
	.third{
		padding: 1.5% 2.5%; 
	}
	
	.title{
		padding-bottom: 10px;
		border: 4px solid white;
		padding: 20px;
	}
	
	h3{
		padding-bottom: 10px; 
	}
	
	li{
		margin-left: 0px;
	}
}



.posts{
	.third{
		width:31.333%;		
		border: 4px solid white;
		margin: 1%;
		padding: 0%;
		position: relative;
		h5{
			text-align: left;
			position: absolute;
			top:12px;
			left:15px;
		}
		.title{
			padding: 15%;
			width: 100%;
			height:100%;
		}
	}
}

.category-button{
	position: relative;
	margin-bottom: 4%;
	img{
		width: 100%;
	}
	.title{
		margin: auto;
		position: absolute;
		top: 25%;;
		margin-left: 25%;
		width: 50%;
		padding-top: 40px;
		padding-bottom: 60px;
		background-color: white;
		color: black; 
	}
	
	h2{
		color: black;
		font-weight: 800;
	}
	a{
		color: black;
		font-family: "source-code-pro", monospace;
		border-bottom: 3.5px solid black;
	}
	h4{
		position: absolute;
		top:30px;
		left:30px;
	}
	.overlay{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color: rgba(0,0,0,0.8);
		transition: all 100ms ease-in;  
		-webkit-transition: all 100ms ease-in;  /* Safari */
	}
}

.projects{
	.title{
		background-color: transparent;
		color: white; 
	}
	h2{
		color: white;
		padding-top: 60px;
	}
	a{
		color: white;
		font-family: Andale Mono, monospace;
		border-bottom: 3.5px solid white;
	}
}

.category-button:hover .overlay{
	background-color: rgba(0,0,0,0);
	transition: all 100ms ease-in;  
	-webkit-transition: all 100ms ease-in;  /* Safari */
}

.heading{

	.title{
		margin-left: 10%;
		width: 80%;
		padding-top: 30px;
		padding-bottom: 30px;
		top:20%;
	}
	.sub-title{
		width: 80%;
		margin: 20px 10%;
	}
}


a.gallery-image{
	width:32%;
	padding: 0.5%;
}

/*
.gallery{
	position: relative;
	img{
		float: left;
		width:25%;
	}
	.examples{
		position: absolute !important;
		top:250px;
	}
	.overlay{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color: rgba(0,0,0,0.4);
	}
	.white{
		background: transparent;
	}

}*/



/*.contact-bar{
	width: 100%;
	height:45px;
	background-color: $grey;
	position: fixed;
	padding-top: 4px;
	z-index: 999;
	p{
		text-align: center;
		font-size: 24px;
		color: white;
		font-weight: 400;
	}
	.social{
		float: right;
		padding-right: 5%;
		margin-top: -54px;
		p{
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			padding-right: 10px;
		}
		img{
			width: 30px;
		}
	}
}*/


.social{
	width: 25px;
}

li.left-menu.social{
	margin-right: 10px;
}


/* `Divs
----------------------------------------------------------------------------------------------------*/	

.cd-section{
	position: relative;
	padding:7% 10%;
	width: 100%;
	text-align: center;
}

.intro-section{
	padding-top: 40px !important;
}


.shadow{
	-webkit-box-shadow: 10px 10px 73px -24px rgba(0,0,0,0.77);
	-moz-box-shadow: 10px 10px 73px -24px rgba(0,0,0,0.77);
	box-shadow: 10px 10px 73px -24px rgba(0,0,0,0.77);
}

.two-thirds{
	padding: 1.5% 0%;
	padding-right: 1%;
}

.sixty{
	padding-right: 2%;
	}
.forty{
	padding-left: 2%;
}

.post-content{
	.tupperware{
		padding: 5% 0px;
		padding-right: 6%;
	}
}

/* `Flexslider
----------------------------------------------------------------------------------------------------*/	

.flexslider {
	background: transparent !important;
	.slides > li{
	margin-left: 0px;
	padding-left: 0px;
	}
}

.flex-control-thumbs li{
	padding: 1%;
}


/* `Footer
----------------------------------------------------------------------------------------------------*/	

footer{
	text-align: left;
	position: relative;
	width: 100%;
	p, a{
		padding-bottom: 0px;
		font-size: 14px;
		color: white;
		text-align: left;
		text-transform: none;
		font-weight: 100; 
		margin-bottom: 5px !important;
		font-family: "source-code-pro", monospace;
		float: left;
	}
	a{
		padding-bottom: 10px;
	}
	h3{
		text-align: left;
		text-transform: uppercase;
	}
	.search {
		width: 100%;
		input{
			width: 80%;
			font-family: "source-code-pro", monospace;
			font-size: 14px;
			margin-left: -15px;
		}
	}
	.copyright{
		p,a{
		color: $copyright;
		}
	}
}

footer.cd-section{
	padding-top: 0px;	
}

img.footer-logo{
	width: 250px !important;
	padding-top: 10px;
	padding-bottom: 80px;
}

a.blink{
	position: absolute;
	right:5%;
	top:20px;
	font-weight: 400;
	text-transform: lowercase;
}
a.blink:hover{
	color: aqua;
}


/* `Button
----------------------------------------------------------------------------------------------------*/


.button{
	background-color: transparent;
	border-bottom: 4px solid $gold;
	color: white;
	padding:10px;
	margin-top: 30px;
	display: inline-block;
}

a.left{
	float: left;
	padding-left: 0px;
}


.button:hover,
.button:focus,
.button:active{
	color: $gold;
	background-color: transparent;
	border-bottom-color: white;
	
}


.flexslider .button{
	position: relative;
	top:50%;
	z-index: 999;
}



/* `Contact Form ----------------------------------------------------------------------------------------------------*/

form.wpcf7-form{
	padding-top:40px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	width:60%;

}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-appearance: none;
	background-color: black;
	font-family: inherit;
	border: 2px solid $gold;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	color: $gold;
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 60%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
	background-color: black;
	border: 2px solid $gold;
	
}

input[type="submit"]{
	background-color: $gold;
	color: black;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-top: 12px;
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 600;
	margin: 0px;
	width: 60%;
	border: 0.5px solid black;
	border-radius: 0px;

	margin-top: 10px;
	letter-spacing: 2px;
}
input[type="submit"]:hover{
	background-color: #222;
	color: white;
	cursor: pointer;
}

div.wpcf7-validation-errors{
	width:60%;
	color: #f7e700;
	font-family: 'Montserrat', sans-serif;
}

div.wpcf7-mail-sent-ok{
	border: 2px solid #398f14;
	width:60%;
	color: #398f14;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

div.wpcf7-response-output{
	padding: 1em 1em !important;
}

.search-container{
	width: 250px;
	position: absolute;
	right:0;
}

.search{
	width:275px;
	margin: 0 auto;
	padding-top:30px;
	input{
		-webkit-appearance: none;
			background-color: transparent;
			font-family: inherit;
			border: 2px solid $gold;
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
			color: $gold;
		width: 230px;
		height: 50px;
		border: none;
		border-bottom: 3px solid white;
		background: transparent;
		background-color: transparent;
		color: #ffffff;
		font-family: "proxima-nova";
		font-size: 18px;
		font-weight: 100; 
		margin-top:0px;
		float: left;
		
	}
	input.submit{
		border-bottom: 0px solid white;
		width: 35px;
		margin-left: 10px;
		margin-top: 10px;
	}
	img{
		width: 35px;
	}
}

.sub-menu{
	position: relative;
	margin-top: -50px;
	.search{
		width: 100%;
		padding-top: 0px;
		input{
			width: 80%;
			font-size: 14px;
		}
		img{
			width: 25px;
			
		}
		.right-menu{
			position:absolute;
			right:5%;
			top:0;
			
		}
		input[type="text"]{
			-webkit-appearance: none;
			background-color: transparent;
			font-family: inherit;
			border: 2px solid $gold;
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
			color: $gold;
			display: inline;
			margin:  0;
			padding: 0rem;
			padding-right: 10px;
			height: 2.3125rem;
			width: 75%;
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			box-sizing: padding-box;
			border-radius: 0px;
			float: right;
			height: 35px;
			border: none;
			border-bottom: 3px solid white;
			background: transparent;
			background-color: transparent;
			color: #ffffff;
			font-family: "proxima-nova";
			font-size: 13.5px;
			font-weight: 100; 
			line-height: 20px;
			margin-top:0px;
		}
	}
	input.submit{
		border-bottom: 0px solid white;
		display: inline;
		width: 30px;
		float: right;
		margin-left: 10px;
		margin-top: 0px;
}
}


/* `Radio Buttons
----------------------------------------------------------------------------------------------------*/


.wpcf7-list-item input[type="radio"] {
    display:none; 
}

.wpcf7-list-item label {
    display:inline-block;
    background-color:black;
    border: 2px solid $gold;
    padding:20px 30px;
    font-family: 'Montserrat', sans-serif;
    color: $gold;
    text-transform: uppercase;
}

.wpcf7-list-item input[type="radio"]:checked + span.wpcf7-list-item-label { 
    color:white;
}