#page-wrap { 
	width: 100%; 
	padding: 0px; 
	margin: 0 auto; 
	overflow: hidden; 
	height: 100%; 
	}

.info-col { 
	float: left; 
	width: 33%; 
	height: 100%; 
	padding: 50px 0 0 0; 
	margin: 0 0.8%;
		
		h2 { 
			text-align: center; 
			font-weight: normal; 
			padding: 25px 0; 
		}
	}

@media only screen and (max-width: 640px) {
	.info-col { 
	width: 100% !important; 

	}
}

dt { 
	padding: 5px; 
	background: transparent; 
	color: white; 
	border: 4px solid white;
	margin-bottom: 15px !important; 
	}
	
dd { 
	position: absolute; 
	left: -9999px; 
	top: -9999px; 
	width: 100%; 
	background: black; 
	color: white; 
	border:4px solid white;
	border-top:0px;
	padding: 25px;
	padding-top:15px;
	text-align: left;
	}
	
	dt h5{
		text-align: left;
		padding-left: 15px;
		padding-top: 10px;
	}

/*dt:nth-of-type(1) { background: #b44835; }
dd:nth-of-type(1) { background: #b44835; }

dt:nth-of-type(2) { background: #ff7d3e; }
dd:nth-of-type(2) { background: #ff7d3e; }

dt:nth-of-type(3) { background: #ffb03b; }
dd:nth-of-type(3) { background: #ffb03b; }

dt:nth-of-type(4) { background: #c2a25c; }
dd:nth-of-type(4) { background: #c2a25c; }

dt:nth-of-type(5) { background: #4c443c; }
dd:nth-of-type(5) { background: #4c443c; }

dt:nth-of-type(6) { background: #656b60; }
dd:nth-of-type(6) { background: #656b60; }*/

.curCol { 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	z-index: 1; 
	position: relative; 
	}
	
#infogrid{
	h3{
		padding-bottom: 25px;
		padding-top: 20px;	}
	ul {
	    list-style-type: none;
	    list-style-position:outside;
	    padding: 0px;
	    margin: 0px;
	    margin-bottom: 15px;
	    margin-top:15px;
	}
	
	ul li {
	    
	    background-image: url('../images/list.gif');
		background-repeat: no-repeat;
   		background-position: 0px center; 
   		padding-left: 15px;
	}
	a{
		margin-top: 5px;
		padding-left: 0px;
		font-family: "source-code-pro", monospace;
		font-weight: 100;
		font-size: 15px;
	}
}

.current{
	border-bottom: 0px;	
	margin-bottom: 0px !important;
	cursor: inherit !important;
	background-color: black !important;
	h3{
		padding-bottom: 0px !important;
	}
}