$gold: #a8ff00;
$gold: #b7d432;
$gold: #ffffff;



h1, h2, h3, h4, h5, h6 a, p, li{
	color: white;
	font-family: "proxima-nova" , sans-serif;
} 

h1{
	font-weight: 800;
	width:70%;
	margin: 0 auto;
}

h2{
	font-size: 44px;
	font-weight: 100;
	padding-bottom: 10px;
}


h3{
	font-weight: 600;
	font-size: 22px;
	display: block;
	padding-bottom: 2px;
}

h4{
	font-size: 14px;
	padding-bottom: 10px;
	text-align: left;
	font-weight: 100;
	font-family: "proxima-nova", sans-serif;
	padding-left: 1%;
	padding-bottom: 40px;
}

h5{
	font-size: 12px;
	font-family: "source-code-pro", monospace;
}

p{
	font-weight: 100;
	letter-spacing: 0.2px;
	line-height: 1.6em;
	font-size: 16px;
	margin-bottom: 20px !important;
	text-align: left;
}

a{
	font-weight: normal;
	color: white;
	display: inline-block;
	padding-bottom: 6px;
}

a:hover{
	color: $gold;
}

.heading{
	h1, p{
		color: black;
	}
	
	h1{
		font-size: 44px;
	}
}

.forty{
	ul{
		padding-bottom: 20px;
		padding-top: 10px;
	}
	h3{
		text-align: left;
		padding-top: 10px;
	}
	li{
		margin-left: 0px;
	}

}

nav{
	li{
		text-align: right;
		padding-bottom: 5px;
	}
	a{	
		margin-bottom: 0px !important;
		font-weight: 300;
		text-transform: none;
		font-size: 15px;
		letter-spacing: 0.4px;
	}
}

.post-content{
	 ul li {
	    
	    background-image: url('../images/list.gif');
		background-repeat: no-repeat;
   		background-position: 0px center; 
   		padding-left: 15px;
   		font-weight: 100;
   		text-align: left;
	}
	a{
		margin-top: 5px;
		padding-left: 0px;
		font-family: "source-code-pro", monospace;
		font-weight: 100;
	}
	
	h1{
		text-align: left;
		font-size: 37px;
		font-weight: 700;
		float: left;
		margin-bottom: 30px;
		width: 100%;
	}
	
	.cd-section{
		padding-top: 40px;
	}
	h4{
		padding-left: 0px;
	}
}

#contact{
	h1{
		text-align: center;
	}
}

.mob-nav{
	a{
		color: white !important;
	}
}

a.exit-off-canvas{
	margin-bottom: 0px !important;
}